<div class="post-container">
  <div class="autor-image">
    <div class="img">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc10TpLaPRWbofj06FgX6ai-2lT_Wkh-BhMo5CirmoD7kq7oMM8I6NMVfeTLaOWLNHsjE&usqp=CAU"
        alt="exp..."
      />
    </div>
  </div>
  <div class="post">
    <div class="post-data">
      <span>Usuário teste</span>
      <span>@teste</span>
      <span><hr /></span>
      <span>19h</span>
    </div>
    <div class="post-content">
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam cum
        earum nostrum sit numquam obcaecati cupiditate fugit aut, harum nulla
        ipsum consequuntur exercitationem laudantium aliquam perferendis minima,
        dolores, libero quam.
      </div>
      <div class="media">
        <img
          src="https://pbs.twimg.com/media/F5pCoS7aoAABNgb?format=webp&name=small"
          alt="..."
        />
      </div>
    </div>
    <div class="post-reactions">
      <div class="action" *ngFor="let action of actions; let i = index">
        <i [class]="action.icon"></i>
        <span *ngIf="action.data">{{ action.data }}</span>
      </div>
    </div>
  </div>
</div>
